<div class="card">
  <div class="card-header">
    <h2>Editing friend</h2>
  </div>
  <div class="card-body">

    <br/>

    <%= render "form", friend: @friend %>

    <br>

    <div class="actions">
      <%= link_to 'Show', @friend, class:"btn btn-success" %>
      <%= link_to 'Back to friends', friends_path, class:"btn btn-info" %>
    </div>

  </div>
</div>




