<div class="card">
  <div class="card-header">
    <h2>Add New friend</h2>
  </div>
  <div class="card-body">

    <br/>
    <%= render "form", friend: @friend %>

    <br>

    <div>
      <%= link_to "Back to friends", friends_path, class:"btn btn-info" %>
    </div>

  </div>
</div>


